<div class="container">
  <table>
    <tr>
      <th>Country</th>
      <th>Capital city</th>
      <th>Iterations</th>
    </tr>

    <tr>
      <td>
        <input
          placeholder="Search for country"
          [(ngModel)]="currentCountry"
          (ngModelChange)="searchForCountry()"
        />
      </td>
      <td></td>

      <td>
        {{ iterations }}
      </td>
    </tr>

    <tr *ngIf="foundCountry">
      <td>{{ foundCountry.country }}</td>
      <td>{{ foundCountry.city }}</td>
    </tr>

    <tr></tr>

    <ng-container *ngIf="currentCountry === ''">
      <tr *ngFor="let country of countries">
        <td>{{ country.country }}</td>
        <td>{{ country.city }}</td>
      </tr></ng-container
    >
  </table>
</div>
